body{
    background-color: rgb(115, 25, 179);
}
.para,button{
    background-color: rgb(115, 25, 179);
    color:white;
   text-align:right;
   margin: 4px 2px;
   cursor: pointer;
   border: none;
   font-size: 15px;
   font-family: Arial, Helvetica, sans-serif;
}
img{
  width:400px;
  height:300px;
  float: left;
  margin-left: 100px;
}
a{
    text-decoration: none;
    color:white;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
}
.one{
    margin: 90px;
}
.para{
    font-family:Arial, Courier, monospace;
    text-align:right;
    align-items:flex-end;
    margin-right: 70px;
}
.two{
    text-align:left;
    margin :0px 180px 10px 650px;
}
.how{
    color:rgb(208, 54, 146);
    font-size:40px;
}
.button{
    border: 3px solid white;
    border-radius:7px;

}