body{
    background: #be1010 url("1.jpeg");
}
h1{
    background-color: rgb(103, 71, 210);
    color: white;
    text-shadow: 2px 2px 4px #9479ca;
    margin-left: 550px;
    text-decoration: underline;
    text-decoration-color: rgba(152, 158, 152, 0.742);
    margin-right:540px;
    text-align:center;
    text-decoration-style: dotted;
}
.para{
    font-family:'Courier New', Courier, monospace;
    text-align:center;
    color:rgb(0, 0, 0);
    border:5px ridge rgb(98, 5, 89);
    border-radius: 10px;
    margin :50px;
    padding :20px;
    background-color: rgb(162, 95, 162,0.5);
    overflow: auto;
    transition:width 3s;
}
.para:hover{
    color:#000;
    background-color: white;
}
p::first-letter {
    color: #3300ff;
    font-size: xx-large;
  }
img {
    float: left;
    width:20%;
    height:20%;
  }
  a{
    background: red;
  }
a:link {
    color: red;
  }
  
  /* visited link */
  a:visited {
    color: rgb(44, 188, 171);
  }
  
  /* mouse over link */
  a:hover {
    color: rgb(29, 225, 7);
    width: 500px;
  }
  
  /* selected link */
  a:active {
    color: blue;
  }
  th, td {
    text-align: left;
    padding: 8px;
    border-radius:25px;
  }
  
  tr:nth-child(even) {background-color: #964040;}
  tr:nth-child(odd) {background-color: #801d1d;}
 
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
  div.desc {
    padding: 15px;
    text-align: center;
  }
  .butt {
    width: 100px;
    height: 100px;
    background-color: red;
    position: relative;
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: 3;
  }
  
  @keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
  }